*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: red; */
    font-family: "Roboto", sans-serif;
}

.back-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
}

.back-button svg {
    margin-right: 0.3rem;
}

.cart-overview-h1 {
    font-weight: 900;
    margin-left: 5%;
    margin-top: 5%;
}

.item-smokin-aces {
    display: flex;
    margin-left: 5%;
    margin-top: 1rem;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}


img {
    max-width: 100px;
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    margin-top: 0.2rem;
}

.movie-details-rating {
    border: 1px solid black;
    padding: 1px 8px;
}

.movie-details-rating,
.movie-details-time,
.movie-details-year {
    margin-right: 0.75rem;
}

.item-price {
    font-weight: 700;
    font-size: 16px;
    margin-top: 0.3rem;
}

.item-smokin-aces a {
    color: black;
}

.divider {
    border-bottom: 1px solid rgb(196, 196, 196);
    margin: 2rem 5% 0 5%;
}

.total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 5% 0 5%;
}

.total-sum {
    font-weight: 700;
    font-size: 1.7rem;
}


.card-number-wrapper,
.expiration-wrapper {
    display: flex;
    align-items: center;
}

.card-number-wrapper,
.expiration-wrapper {
    height: 30px;
    background-color: white;
    border-radius: 6px;
    padding-left: 0.5rem;
}

.card-number-wrapper input,
.expiration-wrapper input {
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 6px;
}



.name-container,
.cvv-container,
.card-number-container,
.expiration-container {
    display: flex;
    flex-direction: column;
}

.name-container input,
.cvv-container input {
    height: 30px;
    padding-left: 0.5rem;
    border-radius: 6px;
}

form {
    background-color: #e6e6e6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
}

form input {
    border: none;
    outline: none;
}

form input::placeholder {
    font-size: 14px;
    font-family: "roboto", sans-serif;
}

.bottom-row-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
}

.cvv-container {
    width: 10%;
}

.expiration-container {
    width: 25%;
}