@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    color: white;
}

header {
    display: none;
}

.movie-banner {
    background-image: url(../images/smokin\ aces2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.x-button-wrapper {
    margin: 1rem 0 0 1rem;
}

.plus-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 1rem 0;
}


.buy-button {
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-family: "nunito", sans-serif;
    margin-top: 1rem;
}

.movie-details-sa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 300;
}

.movie-details-rating-sa {
    border: 1px solid #fff;
    padding: 1px 8px;
}

.movie-details-rating-sa,
.movie-details-time-sa,
.movie-details-year-sa {
    margin-right: 0.75rem;
}

span {
    text-decoration: line-through; 
}

.buy-button {
    background-color: var(--color-main);
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.buy-button:hover {
    background-color: var(--color-hover);
}

.no-style-link {
    text-decoration: none;
}

.description {
    margin-top: 1rem;
}

.details {
    margin-top: 1rem;
}


summary {list-style: none}
summary::-webkit-details-marker {display: none; }

summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

details summary::after {
    content: ">";
    transform: rotate(90deg);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;

}

details[open] summary:after {
    transform: rotate(-90deg); 
}

.details-content {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.movie-recommendations {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.movie-recommendations::-webkit-scrollbar {
    display: none;
    }

.first-movie {
    margin-left: 1rem;
}

.movie-tile {
    min-width: 150px;
}

h2 {
    font-family: "nunito", sans-serif;
}

.more-like-this {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.main-content-wrapper {
    margin: 0 1rem 0 1rem;
}