@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap');
/* font-family: 'Nunito', sans-serif; (weight: 400, 700, 900)
font-family: 'Roboto', sans-serif; (weight:300,400,700)*/

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

header, #nav-links {
    background-color: #101012;
}

header {
    justify-content: space-between;
    position: relative;
    padding: 1rem;
}

header,
.header-icons-left,
.header-icons-right {
    display: flex;
    align-items: center;
}

.burger-icon {
    font-size: 2rem;
    color: white;    
}

.logo {
    margin-left: 1rem;
    width: 73px;
    height: 30px;
}

.searchbar {
    width: 360px;
    height: 30px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 6px, 14px; */
    background: #fff;
}

.searchbar input {
    border: none;
    margin-left: 1rem;
    width: 300px;
    font-size: 14px;
}

.magnifier-icon {
    margin-right: 1rem;
}


.user-icon {
    margin-right: 0.5rem;
}

#nav-links {
    display: none;
    position: absolute;
    padding-bottom: 3rem;
    left: 0px;
    top: 3rem;
    width: 100%;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 3rem;
    padding-left: 1rem;
    
}

@media (min-width: 600px) {
    .burger-icon {
        display: none;
    }

    header {
        padding-left: 10%;
        padding-right: 10%;
    }

    #nav-links {
        display: flex;
        position: relative;
        top: 0rem;
        padding-bottom: 0rem;
        width: 300px;
    }

    nav a {
        padding-left: 1.5rem;
        padding-top: 0rem;
    }

}

@media (min-width: 2000px) {
    header {
        padding-left: 25%;
        padding-right: 25%;
    }
}


@media (max-width: 1100px) {

    /* header {
        display: block;
    } */
    .searchbar {
        display: none;
    }
}

/* kan jeg flytte searchbaren under når skjermen blir mindre? må jeg i så fall endre på html? */